<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Forgot Password</title>

    <link rel="shortcut icon" href="assets/img/logo-small.png">

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/plugins/feather/feather.css">

    <link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>

    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left" style="background-color: white;">
                        <img class="img-fluid p-3 mb-auto mt-5" src="assets/img/logo-small.png" alt="Logo"width="400px" height="400px">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Reset Password</h1>
                            <p class="account-subtitle">Let Us Help You</p>

                            <form action="/forget" method="post">
                                <div class="form-group">
                                    <label>Enter your registered email address <span
                                            class="login-danger">*</span></label>
                                    <input class="form-control" type="email" name="email" required="required">
                                    <span class="profile-views"><i class="fas fa-envelope"></i></span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" value="Send Reset Link"
                                        type="submit"> Send Reset Link</button>
                                </div>
                                <div class="forgotpass"><a href="/">Login</a></div>
                                <% if (typeof message1 !== 'undefined') { %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                      <%= message1 %>
                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                  <% } %>
                                  
                                  <% if (typeof message !== 'undefined') { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                      <%= message %>
                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                  <% } %>
                                  
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/feather.min.js"></script>

    <script src="assets/js/script.js"></script>
</body>

</html>